name: Test Workflow

# این باعث میشه هم دستی اجرا بشه هم برنامه‌ریزی شده
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Print Hello
        run: echo "Hello, workflow is running successfully!"
